<body>
    <%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>

    <h1><%= title %></h1>

    <main>
        <div class="admin-panel">
        
            <% if (messages.length === 0) { %>
                <p>Currently there are no messages.</p>
            <% } else { %>
                    <!-- DELETE ALL -->
                    <form action="/admin/delete/all" method="get">
                        <button type="submit" class="delete">Delete All</button>
                    </form>

                    <% messages.forEach( (msg) => { %>
                        <div class="msg">
                            <p class="content"> <%= msg.message %> </p>
                            <span class="created_by"> <%= msg.username %></span>
                            <form action="/admin/delete/<%= msg.id %>" method="post">
                                <button type="submit" class="delete">Delete</button>
                            </form>
                        </div>
                    <% }) %>
            <% } %>
        </div>
    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>

</body>