<body>
    <%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>


    <section id="hero">
        <h1><%= title %>
            <%- include('../partials/github-repo.ejs') %>
        </h1>
    </section>

    <main>
        <% if (locals.errors) { %>
            <% errors.forEach(err => { %>
                <li class="error"><%= err.msg %></li>
            <% }) %>
        <% } else { %>
            <ul class="messages">
                <div class="live-chat">
                    <div class="circle"></div>
                    <span>LIVE - Users Connected:</span>
                    <span class="users-connected">0</span>
               </div>
                <div class="msg-list">
                    <% messages.forEach(msg => { %>
                        <li>
                            <div>
                                <span class="username">@<%= msg.username %></span>
                                <span class="text"><%= msg.message %></span>
                            </div>
                            <span class="date"><%= msg.date || 'date not known' %></span>
                        </li>
                        <% }) %>
                </div>
                <%- include('../partials/form', { title: "What's up?" }) %>
            </ul>
        <% } %>
    </main>
    
    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>

</body>